Web References/WsZip/WsZip.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getZipFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filedata" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getZipFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getZipFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getZipFileSoapIn">
    <wsdl:part name="parameters" element="tns:getZipFile" />
  </wsdl:message>
  <wsdl:message name="getZipFileSoapOut">
    <wsdl:part name="parameters" element="tns:getZipFileResponse" />
  </wsdl:message>
  <wsdl:portType name="WsZipSoap">
    <wsdl:operation name="getZipFile">
      <wsdl:input message="tns:getZipFileSoapIn" />
      <wsdl:output message="tns:getZipFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsZipSoap" type="tns:WsZipSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getZipFile">
      <soap:operation soapAction="http://tempuri.org/getZipFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsZipSoap12" type="tns:WsZipSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getZipFile">
      <soap12:operation soapAction="http://tempuri.org/getZipFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsZip">
    <wsdl:port name="WsZipSoap" binding="tns:WsZipSoap">
      <soap:address location="http://localhost:8013/WsZip.asmx" />
    </wsdl:port>
    <wsdl:port name="WsZipSoap12" binding="tns:WsZipSoap12">
      <soap12:address location="http://localhost:8013/WsZip.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>